astroid
backports.functools-lru-cache
certifi
chardet
configparser
defusedxml
dj-database-url
Django==2.2.7
django-bootstrap-form
django-braces
django-cors-headers
django-heroku
django-oauth-toolkit
django-rest-framework-social-oauth2
django-widget-tweaks
djangorestframework
enum34
futures
gunicorn
idna
isort
lazy-object-proxy
mccabe
oauthlib
Pillow
psycopg2
PyJWT
pylint
python-openid
python3-openid
pytz
requests
requests-oauthlib
singledispatch
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
whitenoise
wrapt
