<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

      <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ["Domíniot", "Contribuição", { role: "style" } ],
            ["Qualidade de Vida", 60, "black"],
            ["Sentidos", 85, "silver"],
            ["Desnutrição", 45, "gold"],
            ["Capacidade Funcional",75, "color: #e5e4e2"],
            ["Depressãol", 60, "color: #FF0000"],
            ["Cognição", 54, "color: #FFFF00"],
            ["RCV", 35  , "color: #00FF00" ],
            ["Medicamentos", 60, "pink"],
            ["Ambiente", 85, "orange"],
            ["Quedas", 45, "yellow"],
            ["Violência", 35, "color: #00FFFF"],
            ["Vulnerbilidade", 25  , "color: #0000FF"],
            ["Fragilidade", 90 , "color: #0F0F0F"]

          ]);

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);

          var options = {
            title: "Contribuição (em %) de cada domínio",
            width: 800,
            height: 600,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
          };
          var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
          chart.draw(view, options);
      }
      </script>

      <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart2);
        function drawChart2() {
          var data2 = google.visualization.arrayToDataTable([
            ["Domíniot", "Contribuição", { role: "style" } ],
            ["Psicológica", 60, "blue'"],
            ["Biológica", 85, "green"],
            ["Social", 45, "yellow"],
            ["Quedas",75, "pink"]
          ]);

          var view2 = new google.visualization.DataView(data2);
          view2.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);

          var options2 = {
            title: "Contribuição (em %) de cada dimensão",
            width: 800,
            height: 600,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
          };
          var chart2 = new google.visualization.ColumnChart(document.getElementById("columnchart_values2"));
          chart2.draw(view2, options2);
      }
      </script>



</head>

<body leftmargin="10%" rightmargin="10%">
  {% if request.user.is_authenticated %}
  {% load static %}

  <table border="2" width='100%'>

    <tr>
      <td rowspan="3" width='16%'> <img src='/static/page.jpg'   height="100px" width="100px"> </td>
      <td colspan="2" >Participante: {{ page.p01_name }}</td>
    </tr>
    <tr>
      <td  width='42%'>Entrada no Serviço: {{ page.p01_name }}</td>
      <td  width='42%'>Pessoa entrevistada: {{ page.p01_name }}</td>
    </tr>
    <tr>
      <td>Entrevistador: {{ page.p01_name }}</td>
      <td>Data da Avaliação: {{ page.p01_name }}</td>
    </tr>

  </table>
  <br>


      <form action="{% url 'grava_demanda' %}" method="post">
      {% csrf_token %}
          <br>
          <table border="2" width="100%">
              <tr>
                  <td  bgcolor="orange" align="center" colspan="3"><h3>ESCORES</h3></td>
              </tr>
              <tr>
                  <td  bgcolor="orange" align="center" valign="middle" rowspan="4">PONTUAÇÃO POR DIMENSÃO</td>
                  <td  bgcolor="blue" align="center" valign="middle" colspan="2"> ASPECTOS PSICOLÓGICOS (MÁXIMA = 14 PONTOS) </td>
              </tr>
              <tr>
                  <td  bgcolor="green" align="center" valign="middle" colspan="2"> ASPECTOS BIOLÓGICOS (MÁXIMA = 36 PONTOS) </td>
              </tr>
              <tr>
                  <td  bgcolor="yellow" align="center" valign="middle" colspan="2"> ASPECTOS SOCIAIS (MÁXIMA = 32 PONTOS) </td>
              </tr>
              <tr>
                  <td  bgcolor="pink" align="center" valign="middle" colspan="2"> QUEDAS (MÁXIMA = 16 PONTOS) </td>
              </tr>
              <tr>
                  <td  bgcolor="silver" align="center" colspan="3"><h3>PONTUAÇÃO TOTAL (MÁXIMA = 98 PONTOS) </h3></td>
              </tr>
              <tr>
                  <td  bgcolor="orange" align="center" colspan="3"><h3>CLASSIFICAÇÃO DE RISCO DE VULNERABILIDADE BIOPSICOSSOCIAL </h3></td>
              </tr>
              <tr>
                  <td  bgcolor="silver" align="center" width="34%"> MAIOR QUE 70 PONTOS = RISCO BAIXO </h3></td>
                  <td  bgcolor="silver" align="center" width="33%"> 69 A 40 PONTOS = RISCO MODERADO </h3></td>
                  <td  bgcolor="silver" align="center" width="33%"> MENOR 39 PONTOS = RISCO ALTO </h3></td>
              </tr>
          </table>

          <div id="columnchart_values2" style="width: 700px; height: 600px; float: left"></div>
          <div id="columnchart_values" style="width: 700px; height: 600px; float:right"></div>




<br>
          <table border="2" width="100%">
              <tr>
                  <td  bgcolor="silver" align="center"><h2>AVALIAÇÃO DO GERONTÓLOGO</h2></td>
              </tr>
              <tr>
                  <td  align="center"><br><br></td>
              </tr>
            </table>
            <br>
            <br>
            <table border="2" width="100%">
              <tr>
                  <td  align="center"><h2>II - PLANEJAMENTO DAS AÇÕES</h2></td>
              </tr>
              <tr>
                  <td  bgcolor="silver" align="left">1. Identificação das Demandas/Problemas (listes as demandas/problemas identificadas na avaliação de acordo com a
                                                                          ordem de prioridade. Lembre-se de verificar se as prioridades da equipe são compatíveis com as prioridades do
                                                                          idoso/família). </td>
              </tr>
              <tr>
                  <td  align="center"><textarea cols='160' rows='15'></textarea></td>
              </tr>
              <tr>
                  <td  bgcolor="silver" align="left">2. Estabelecimento das Metas (estipule as metas a curto, médio e longo prazos para cada problema ou demanda
                                                                           identificada no item anterior). </td>
              </tr>
              <tr>
                  <td  align="center"><textarea cols='160' rows='15'></textarea></td>
              </tr>
              <tr>
                  <td  bgcolor="silver" align="left">3. Organização das Ações e dos Serviços (especifique as características das ações e dos serviços necessários para que a
                                                                          pessoa idosa alcance as metas estipuladas no item anterior – exemplo: número de visitas domiciliares, agendamento
                                                                          de consultas, intervenções, tratamentos, encaminhamentos, etc.).</td>
              </tr>
              <tr>
                  <td  align="center"><textarea cols='160' rows='15'></textarea></td>
              </tr>
              </table>


      <br>

          <table border="2" width="100%">
              <tr>overflow: auto;
                  <td colspan="6" bgcolor="#FF22FF" align="center"><h2>ATIVIDADES RECOMENDADAS - DISPONIVEIS</h2></td>
              </tr>
              <tr>
                <td width='15%' align='center'><H3>Atividade</H3></td>
                <td width='20%' align='center'><H3>Descrição</H3></td>
                <td width='10%' align='center'><H3>Score</H3></td>
                <td width='10%' align='center'><H3>Nota Especialista</H3></td>
                <td width='10%' align='center'><H3>Aceito?</H3></td>
                <td width='35%' align='center'><H3>Análise especialista</H3></td>
              </tr>
              <tr>
                <td align='left'><a href="">Atividade</a></td>
                <td align='left'>Descrição</td>
                <td align='center'><a href="">Score</a></td>
                <td align='center'>Nota Especialista</td>
                <td align='center'>Aceito?</td>
                <td align='left'>Análise especialista</td>
              </tr>
          </table>
          <br><br>
          <table border="2" width="100%">
              <tr>overflow: auto;
                  <td colspan="6" bgcolor="#FF22FF" align="center"><h2>ATIVIDADES RECOMENDADAS - NÃO DISPONIVEIS</h2></td>
              </tr>
              <tr>
                <td width='15%' align='center'><H3>Atividade</H3></td>
                <td width='20%' align='center'><H3>Descrição</H3></td>
                <td width='10%' align='center'><H3>Score</H3></td>
                <td width='10%' align='center'><H3>Nota Especialista</H3></td>
                <td width='10%' align='center'><H3>Aceito?</H3></td>
                <td width='35%' align='center'><H3>Análise especialista</H3></td>
              </tr>
              <tr>
                <td align='left'><a href="">Atividade</a></td>
                <td align='left'>Descrição</td>
                <td align='center'><a href="">Score</a></td>
                <td align='center'>Nota Especialista</td>
                <td align='center'>Aceito?</td>
                <td align='left'>Análise especialista</td>
              </tr>
          </table>




    <br>
    <center>  <input type="submit" value="Gravar"> </center>
  </form>
  {% else %}
  <h1>Não autorizado !!!!!!!</h1>

  {% endif %}

</body>
</html>
