<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .example.Text3 span, .example.Text3 {
          writing-mode: vertical-rl;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: vertical-rl;
        }
    </style>
   <style>
    body{font-family:Calibri, Tahoma, Arial}
    .TabControl{ width:100%; overflow:hidden; height:100%}
    .TabControl #header{ width:100%; border: solid 1px; overflow:hidden; cursor:hand}
    .TabControl #content{ width:100%; border: solid 1px;overflow:hidden; height:700px; }
    .TabControl .abas{display:inline;}
    .TabControl .abas li{float:left}
    .aba{width:200px; height:60px; border:solid 1px; border-radius:5px 5px 0 0;
      text-align:center; padding-top:5px; background:#3A5FCD}
    .ativa{width:200px; height:60px; border:solid 1 px; border-radius:5px 5px 0 0;
        text-align:center; padding-top:5px; background:#27408B;}
    .ativa span, .selected span{color:#FF0000}
    .TabControl #content{background:#27408B}
    .TabControl .conteudo{width:100%;  background:#27408B; display:none; height:100%;color:#000000}
    .selected{width:200px; height:60px; border:solid 1 px; border-radius:5px 5px 0 0;
          text-align:center; padding-top:5px; background:#27408B}
</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function(){
        $("#content div:nth-child(1)").show();
        $(".abas li:first div").addClass("selected");
        $(".aba").click(function(){
          $(".aba").removeClass("selected");
          $(this).addClass("selected");
          var indice = $(this).parent().index();
          indice++;
          $("#content div").hide();
          $("#content div:nth-child("+indice+")").show();
        });

        $(".aba").hover(
        function(){$(this).addClass("ativa")},
        function(){$(this).removeClass("ativa")}
        );
      });
  </script>

  <script type="text/javascript">
    var respostas = new Array(103)
    function encheVetor(){
        respostas[1]=document.getElementById("id_q1_memory_good_like_before");
        respostas[2]=document.getElementById("id_q2_memory_test");
        respostas[3]=document.getElementById("id_q3_language_function_attention");
        respostas[4]=document.getElementById("id_q4_visospatial_ability");
        respostas[5]=document.getElementById("id_q5_praxia");
        respostas[6]=document.getElementById("id_q6_memory_test");
        respostas[7]=document.getElementById("id_q7_age_self_perception_analyze");
        respostas[8]=document.getElementById("id_q8_aging_analyse");
        respostas[9]=document.getElementById("id_q9_satisfied_with_life");
        respostas[10]=document.getElementById("id_q10_frequently_sad");
        respostas[11]=document.getElementById("id_q11_stopped_doing_things");
        respostas[12]=document.getElementById("id_q12_fear_bad_things_happen");
        respostas[13]=document.getElementById("id_q13_impatient_disquiet");
        respostas[14]=document.getElementById("id_q14_concentration_problem");
        respostas[15]=document.getElementById("id_q15_vision_problems");
        respostas[16]=document.getElementById("id_q16_hearing_problems");
        respostas[17]=document.getElementById("id_q17_taste_problems");
        respostas[18]=document.getElementById("id_q18_senses_problems");
        respostas[19]=document.getElementById("id_q19_interaction_problems");
        respostas[20]=document.getElementById("id_q20_to_shop");
        respostas[21]=document.getElementById("id_q21_use_transport");
        respostas[22]=document.getElementById("id_q22_to_cook");
        respostas[23]=document.getElementById("id_q23UseTelephone");
        respostas[24]=document.getElementById("id_q24_dress_up");
        respostas[25]=document.getElementById("id_q25TakeShower");
        respostas[26]=document.getElementById("id_d26_yourself_malnourished");
        respostas[27]=document.getElementById("id_d27_chewing_mouth_problems");
        respostas[28]=document.getElementById("id_d28_less3_meal_daily");
        respostas[29]=document.getElementById("id_d29_decreases_amount_food");
        respostas[30]=document.getElementById("id_d30_lost_weight_no_reason");
        respostas[31]=document.getElementById("id_d31_stress_illness_hospitalization");
        respostas[32]=document.getElementById("id_q32_bmi_less22");
        respostas[33]=document.getElementById("id_q33_dcv_familiar_history");
        respostas[34]=document.getElementById("id_q34_hypertension");
        respostas[35]=document.getElementById("id_q35_uncontrolled_diabetes");
        respostas[36]=document.getElementById("id_q36_cholesterol");
        respostas[37]=document.getElementById("id_q37_smoker");
        respostas[38]=document.getElementById("id_q38_practice_150_minutes_exercises");
        respostas[39]=document.getElementById("id_q39_healthy_eating");
        respostas[40]=document.getElementById("id_q40_alcohol_Ingested_last_week");
        respostas[41]=document.getElementById("id_q41_bmi_obesity");
        respostas[46]=document.getElementById("id_q46_medicines_increase");
        respostas[47]=document.getElementById("id_q47_know_medicines");
        respostas[48]=document.getElementById("id_q48_medications_prescribed");
        respostas[49]=document.getElementById("id_q49_medicine_medical_advice");
        respostas[50]=document.getElementById("id_q50_already_stopped_medicines");
        respostas[51]=document.getElementById("id_q51_self_medication");
        respostas[52]=document.getElementById("id_q52_inappropriate_medication");
        respostas[53]=document.getElementById("id_q53_risk_adverse_reaction");
        respostas[55]=document.getElementById("id_q55_meet_family_friends");
        respostas[56]=document.getElementById("id_q56_participate_family_decisions");
        respostas[57]=document.getElementById("id_q57_satisfied_family_relationship");
        respostas[58]=document.getElementById("id_q58_helped_if_need_money");
        respostas[59]=document.getElementById("id_q59_someone_helps_if_need");
        respostas[60]=document.getElementById("id_q60_someone_to_have_fun");
        respostas[61]=document.getElementById("id_q61_participate_social_events");
        respostas[62]=document.getElementById("id_q62_regulary_healt_services");
        respostas[63]=document.getElementById("id_q63_estable_furniture");
        respostas[64]=document.getElementById("id_q64_loose_objects_carpets");
        respostas[65]=document.getElementById("id_q65_slippery_floor");
        respostas[66]=document.getElementById("id_q66_handrail_on_stairs");
        respostas[67]=document.getElementById("id_q67_lighted_stairs");
        respostas[68]=document.getElementById("id_q68_suitable_stairs_steps");
        respostas[69]=document.getElementById("id_q69_non_slippery_carpet");
        respostas[70]=document.getElementById("id_q70_get_on_stool");
        respostas[71]=document.getElementById("id_q71_turn_lights_off");
        respostas[72]=document.getElementById("id_q72_safe_shoes");
        respostas[73]=document.getElementById("id_q73_manicure_sidewalks");
        respostas[74]=document.getElementById("id_q74_public_transport_access");
        respostas[75]=document.getElementById("id_q75_commerce_access");
        respostas[76]=document.getElementById("id_q76_ease_plasewalking");
        respostas[77]=document.getElementById("id_q77_fun_access");
        respostas[78]=document.getElementById("id_q78_safety");
        respostas[79]=document.getElementById("id_q79_afraid_close_person");
        respostas[80]=document.getElementById("id_q80_feels_abandoned");
        respostas[81]=document.getElementById("id_q81_forced");
        respostas[82]=document.getElementById("id_q82_assauteld");
        respostas[83]=document.getElementById("id_q83_in_need");
        respostas[84]=document.getElementById("id_q84_someone_used_money");
        respostas[85]=document.getElementById("id_q85_touched_without_permission");
        respostas[86]=document.getElementById("id_q86_dont_take_care_health");
        respostas[87]=document.getElementById("id_q87_falls_last_year");
        respostas[88]=document.getElementById("id_q88_fractures_due_to_falls");
        respostas[89]=document.getElementById("id_q88_fractures_due_to_falls");
        respostas[90]=document.getElementById("id_q90_strength_mmii");
        respostas[91]=document.getElementById("id_q91_equilibrium");
        respostas[92]=document.getElementById("id_q92_older_than75");
        respostas[93]=document.getElementById("id_q93_female");
        respostas[94]=document.getElementById("id_q94_cognitive_alterations");
        respostas[95]=document.getElementById("id_q95_av_ds_commitment");
        respostas[96]=document.getElementById("id_q96_visual_deficit");
        respostas[97]=document.getElementById("id_q97_domestic_risks");
        respostas[98]=document.getElementById("id_q98_behavior_risk");
        respostas[99]=document.getElementById("id_q99_inactivity");
        respostas[100]=document.getElementById("id_q100_prior_ave");
        respostas[101]=document.getElementById("id_q101_psychotropic_medications_use");
        respostas[102]=document.getElementById("id_q102_has_diseases");
    }
    var verifica = new Array(69);
    var verifica_ms = new Array(69);
    function encheVetorErro(){
        verifica[0]=document.getElementById("id_service");
        verifica[1]=document.getElementById("id_entrance");
        verifica[2]=document.getElementById("id_interviewed");
        verifica[3]=document.getElementById("id_interviewer");
        verifica[4]=document.getElementById("id_avaliation_date");
        verifica[5]=document.getElementById("id_p00_email");
        verifica[6]=document.getElementById("id_p01_name");
        verifica[7]=document.getElementById("id_p02_adress");
        verifica[8]=document.getElementById("id_p03_communication");
        verifica[9]=document.getElementById("id_p04_birth_date");
        verifica[10]=document.getElementById("id_p05_age");
        verifica[11]=document.getElementById("id_p06_gender");
        verifica[12]=document.getElementById("id_p20_profile_photo_URL");
        verifica[13]=document.getElementById("id_p07_marital_status");
        verifica[14]=document.getElementById("id_p08_schooling");
        verifica[15]=document.getElementById("id_p09_study_time");
        verifica[16]=document.getElementById("id_p10_is_retired");
        verifica[17]=document.getElementById("id_p10_retired_profession");
        verifica[18]=document.getElementById("id_p10_actual_profession");
        verifica[19]=document.getElementById("id_p11_retire_more_time_activity");
        verifica[20]=document.getElementById("id_p12_is_working_professionals_activities");
        verifica[21]=document.getElementById("id_p12_professional_activite");
        verifica[22]=document.getElementById("id_p13_income_I");
        verifica[23]=document.getElementById("id_p13_income_F");
        verifica[24]=document.getElementById("id_p14_lives_with");
        verifica[25]=document.getElementById("id_p15_have_religion");
        verifica[26]=document.getElementById("id_p15_religion");
        verifica[27]=document.getElementById("id_p16_Health_self_report");
        verifica[28]=document.getElementById("id_p20_weight");
        verifica[29]=document.getElementById("id_p20_height");
        verifica[30]=document.getElementById("id_p20_IMC");
        verifica[31]=document.getElementById("id_p30_ride_with");
        verifica[32]=document.getElementById("id_q4_visospatial_ability_score");
        verifica[33]=document.getElementById("id_q7_age_self_perception");
        verifica[34]=document.getElementById("id_q7_age_self_perception_why");
        verifica[35]=document.getElementById("id_q7_age_self_perception_analyze");
        verifica[36]=document.getElementById("id_q8_aging_positive_points");
        verifica[37]=document.getElementById("id_q8_aging_negative_points");
        verifica[38]=document.getElementById("id_comments_psico");
        verifica[39]=document.getElementById("id_q40_alcohol_Ingested_last_week_amount");
        verifica[40]=document.getElementById("id_q42_diseases_last_5_years_l");
        verifica[41]=document.getElementById("id_q43_health_problems_h");
        verifica[42]=document.getElementById("id_q44_amount_diagnostics");
        verifica[43]=document.getElementById("id_q45_medicines");
        verifica[44]=document.getElementById("id_comments_bio");
        verifica[45]=document.getElementById("id_q54_brothers");
        verifica[46]=document.getElementById("id_q54_children");
        verifica[47]=document.getElementById("id_q54_gran_children");
        verifica[48]=document.getElementById("id_comments_social");
        verifica[49]=document.getElementById("id_q87_amount_falls_last_year");
        verifica[50]=document.getElementById("id_q88_fractures_due_to_falls_list");
        verifica[51]=document.getElementById("id_q89_fractures_list");
        verifica[52]=document.getElementById("id_comments_multi");
        verifica[53]=document.getElementById("id_c1");
        verifica[54]=document.getElementById("id_c2");
        verifica[55]=document.getElementById("id_c3");
        verifica[56]=document.getElementById("id_c4");
        verifica[57]=document.getElementById("id_c5");
        verifica[58]=document.getElementById("id_c6");
        verifica[59]=document.getElementById("id_c7");
        verifica[60]=document.getElementById("id_c8");
        verifica[61]=document.getElementById("id_c9");
        verifica[62]=document.getElementById("id_c10");
        verifica[63]=document.getElementById("id_c11");
        verifica[64]=document.getElementById("id_c12");
        verifica[65]=document.getElementById("id_q2_memory_test_score");
        verifica[66]=document.getElementById("id_q3_language_function_attention_score");
        verifica[67]=document.getElementById("id_q5_praxia_score");
        verifica[68]=document.getElementById("id_q6_memory_test_score");

        verifica_ms[0]="Nome do Serviço - Cabeçalho";
        verifica_ms[1]="Data de entrada no serviço - Cabeçalho";
        verifica_ms[2]="Pessoa Entrevistada - Cabeçalho";
        verifica_ms[3]="Nome do Entrevistador - Cabeçalho";
        verifica_ms[4]="Data da Avaliação - Cabeçalho";
        verifica_ms[5]="E-mail - Aba Participante";
        verifica_ms[6]="Nome do Participante - Aba Participante";
        verifica_ms[7]="Endereço do Participante - Aba Participante";
        verifica_ms[8]="Meio de comunicação - Aba Participante";
        verifica_ms[9]="Data de Nascimento - Aba Participante";
        verifica_ms[10]="Idade Atual - Aba Participante";
        verifica_ms[11]="Gênero do Participante - Aba Participante";
        verifica_ms[12]="Foto do Participante - Aba Participante";
        verifica_ms[13]="Estado Civil do Participante - Aba Participante";
        verifica_ms[14]="Escolaridade do Participante - Aba Participante";
        verifica_ms[15]="Tempo de Estudo do Participante - Aba Participante";
        verifica_ms[16]="Se o participante é aposentado - Aba Participante";
        verifica_ms[17]="Profissão de aposentadoria - Aba Participante";
        verifica_ms[18]="Profissão Atual do Participante - Aba Participante";
        verifica_ms[19]="Por qual profissão o Participante é aposentado - Aba Participante";
        verifica_ms[20]="Se o Participante exerce atividade remunerada - Aba Participante";
        verifica_ms[21]="Atividade Remunerada exercida pelo Participante - Aba Participante";
        verifica_ms[22]="Renda Individual Participante - Aba Participante";
        verifica_ms[23]="Renada Familiar Participante - Aba Participante";
        verifica_ms[24]="Pessoas com quem o Participante Mora - Aba Participante";
        verifica_ms[25]="Se o Participante tem religião - Aba Participante";
        verifica_ms[26]="Religião do Participante - Aba Participante";
        verifica_ms[27]="Auto relato de saúde do Participante - Aba Participante";
        verifica_ms[28]="Peso do Participante - Aba Participante";
        verifica_ms[29]="Altura do Participante - Aba Participante";
        verifica_ms[30]="IMC do Participante - Aba Participante";
        verifica_ms[31]="Pessoas com as quais o participante pega carona - Aba Participante";
        verifica_ms[32]="4.Habilidade visuoespacial - Pontuação - Aba Psico";
        verifica_ms[33]="7. Que idade o(a) senhor(a) sente ter? - Aba Psico";
        verifica_ms[34]="7. Por quê? Aba Psico";
        verifica_ms[35]="id_q7_age_self_perception_analyze";
        verifica_ms[36]="8. Aspectos Positivos Envelhecimento - Aba Psico";
        verifica_ms[37]="8. Pontos Negativos do Envelhecimento - Aba Psico";
        verifica_ms[38]="Observações Aspectos Psicológicos - Aba Psico";
        verifica_ms[39]="40. Quantidade de Álcool Ingerido - Aba Bio";
        verifica_ms[40]="42. L) Outra? - Aba Bio";
        verifica_ms[41]="43. H) Outro? - Aba Bio";
        verifica_ms[42]="44. Quantidade de Diagnóstico de Doenças - Aba Bio";
        verifica_ms[43]="45. Registro dos medicamentos - Aba Bio";
        verifica_ms[44]="Observações sobre os aspectos Biológicos - Aba Bio";
        verifica_ms[45]="54. Quantidade de Irmãos - Aba Social";
        verifica_ms[46]="54. Quantidade de Filhos - Aba Social";
        verifica_ms[47]="54. Quantidade de Netos - Aba Social";
        verifica_ms[48]="Observações sobre os aspectos Sociais";
        verifica_ms[49]="87. Quantidade de Quedas - Aba Multi";
        verifica_ms[50]="88. Quantidade de Fraturas - Aba Multi";
        verifica_ms[51]="89. Lista de Fraturas - Aba Multi";
        verifica_ms[52]="Observações sobre o aspecto Multidimensional";
        verifica_ms[53]="Calcular Domínio Déficit Cognitivo - Aba Psico";
        verifica_ms[54]="Calcular Domínio Atitudes Negativas em Relação ao envelhecimento - Aba Psico";
        verifica_ms[55]="Calcular Domínio Depressão - Aba Psico";
        verifica_ms[56]="Calcular Domínio Déficit Sensorial - Aba Bio";
        verifica_ms[57]="Calcular Domínio Incapacidade Funcional - Aba Bio";
        verifica_ms[58]="Calcular Domínio Desnutrição - Aba Bio";
        verifica_ms[59]="Calcular Domínio Doenças Cardiovasculares - Aba Bio";
        verifica_ms[60]="Calcular Domínio Uso Inadequado de Medicamentos - Aba Bio";
        verifica_ms[61]="Calcular Domínio Baixo Suporte Social - Aba Social";
        verifica_ms[62]="Calcular Domínio Problemas Ambientais - Aba Social";
        verifica_ms[63]="Calcular Domínio Violência - Aba Social";
        verifica_ms[64]="Calcular Domínio Quedas - Aba Multi";
        verifica_ms[65]="2.Memória - Pontuação - Aba Psico";
        verifica_ms[66]="3.Linguagem, função executiva e atenção - Pontuação - Aba Psico";
        verifica_ms[67]="5.Praxia - Pontuação - Aba Psico";
        verifica_ms[68]="6.Memória - Pontuação - Aba Psico";
    }

    function tudoCerto(){
        if(verifica[0] == null){
            encheVetorErro();
        }'q7_age_self_perception_analyze', 'q8_aging_analyse'alue == ""){
                alert("Campo Não Preenchido: " + verifica_ms[conta]);
                //verifica[conta].focus();
                return false;
            }
        }
        if(!CheckDate(verifica[1])){
            alert("Digite a data no formato Dia/Mês/Ano no campo Data de Entrada - Cabeçalho");
	        verifica[1].focus()
            return false;
        }
        if(!CheckDate(verifica[4])){
            alert("Digite a data no formato Dia/Mês/Ano no campo Data de Avaliação - Cabeçalho");
	        verifica[4].focus()
            return false;
        }
        if(!CheckDate(verifica[9])){
            alert("Digite a data no formato Dia/Mês/Ano no campo Data de Nascimento - Aba Participante");
	        verifica[9].focus()
            return false;
        }
        valor = parseInt(verifica[32].value)
        if (valor< 0 || valor > 4){
            alert("Campo com valor fora do limite permitido: " + verifica_ms[32]);
            return false;
        }

        valor = parseInt(verifica[65].value)
        if (valor< 0 || valor > 7){
            alert("Campo com valor fora do limite permitido: " + verifica_ms[65]);
            return false;
        }

        valor = parseInt(verifica[66].value)
        if (valor< 0 || valor > 100){
            alert("Campo com valor fora do limite permitido: " + verifica_ms[66]);
            return false;
        }

        valor = parseInt(verifica[67].value)
        if (valor< 0 || valor > 3){
            alert("Campo com valor fora do limite permitido: " + verifica_ms[67]);
            return false;
        }

        valor = parseInt(verifica[68].value)
        if (valor< 0 || valor > 7){
            alert("Campo com valor fora do limite permitido: " + verifica_ms[68]);
            return false;
        }

        calcular(1,6,document.getElementById('id_c1'));
        calcular(7,8,document.getElementById('id_c2'));
        calcular(9,14,document.getElementById('id_c3'));
        calcular(15,19,document.getElementById('id_c4'));
        calcular(20,25,document.getElementById('id_c5'));
        calcular(26,32,document.getElementById('id_c6'));
        calcular(33,41,document.getElementById('id_c7'));
        calcular(46,53,document.getElementById('id_c8'));
        calcular(55,62,document.getElementById('id_c9'));
        calculaAmbiente();
        calcular(79,86,document.getElementById('id_c11'));
        calcularMulti();
        return true;
    }

    function CheckDate(pObj) {
          var expReg = /^((0[1-9]|[12]\d)\/(0[1-9]|1[0-2])|30\/(0[13-9]|1[0-2])|31\/(0[13578]|1[02]))\/(19|20)?\d{2}$/;
          if ( !pObj.value.match(expReg))
              return false;
          var dia = parseInt(pObj.value.substring(0,2));
          var mes = parseInt(pObj.value.substring(3,5));
          var ano = parseInt(pObj.value.substring(6,10));
          if (dia > 31 || dia < 1)
             return false;
          if ((mes == 4 || mes == 6 || mes == 9 || mes == 11) && dia > 30)
             return false;
          if ( mes == 2 && (ano % 4) != 0 &&  dia > 28)
              return false;
          if ( mes == 2 && (ano % 4) == 0 &&  dia > 29)
              return false;
          return true;
    }

    var certo = new Array(103)
    certo[1]="S";
    certo[2]="S";
    certo[3]="S";
    certo[4]="S";
    certo[5]="S";
    certo[6]="S";
    certo[7]="N";
    certo[8]="N";
    certo[9]="S";
    certo[10]="N";
    certo[11]="N";
    certo[12]="N";
    certo[13]="N";
    certo[14]="N";
    certo[15]="N";
    certo[16]="N";
    certo[17]="N";
    certo[18]="N";
    certo[19]="N";
    certo[20]="N";
    certo[21]="N";
    certo[22]="N";
    certo[23]="N";
    certo[24]="N";
    certo[25]="N";
    certo[26]="N";
    certo[27]="N";
    certo[28]="N";
    certo[29]="N";
    certo[30]="Não";
    certo[31]="N";
    certo[32]="N";
    certo[33]="N";
    certo[34]="N";
    certo[35]="N";
    certo[36]="N";
    certo[37]="N";
    certo[38]="S";
    certo[39]="S";
    certo[40]="N";
    certo[41]="N";
    certo[42]="N";
    certo[43]="N";
    certo[44]="N";
    certo[45]="N";
    certo[46]="N";
    certo[47]="S";
    certo[48]="S";
    certo[49]="S";
    certo[50]="N";
    certo[51]="N";
    certo[52]="N";
    certo[53]="N";
    certo[54]="N";
    certo[55]="S";
    certo[56]="S";
    certo[57]="S";
    certo[58]="S";
    certo[59]="S";
    certo[60]="S";
    certo[61]="S";
    certo[62]="S";
    certo[63]="S";
    certo[64]="N";
    certo[65]="N";
    certo[66]="S";
    certo[67]="S";
    certo[68]="S";
    certo[69]="S";
    certo[70]="N";
    certo[71]="N";
    certo[72]="S";
    certo[73]="S";
    certo[74]="S";
    certo[75]="S";
    certo[76]="S";
    certo[77]="S";
    certo[78]="S";
    certo[79]="N";
    certo[80]="N";
    certo[81]="N";
    certo[82]="N";
    certo[83]="N";
    certo[84]="N";
    certo[85]="N";
    certo[86]="N";
    certo[87]="N";
    certo[88]="N";
    certo[89]="X";
    certo[90]="S";
    certo[91]="S";
    certo[92]="N";
    certo[93]="N";
    certo[94]="N";
    certo[95]="N";
    certo[96]="N";
    certo[97]="N";
    certo[98]="N";
    certo[99]="N";
    certo[100]="N";
    certo[101]="N";
    certo[102]="N";

    function calcular(a,b,ele){
        if (respostas[a] == null){
            encheVetor();
        }
        conta=0;
        for (i=a; i<= b; i++){
            if (respostas[i].value == certo[i]){
                conta++;
            }
        }
        ele.value=conta;
    }
    function calculaIMC(){
        a = parseFloat(document.getElementById("id_p20_weight").value)
        b = parseFloat(document.getElementById("id_p20_height").value)
        document.getElementById("id_p20_IMC").value = a / (b*b)
    }
    function calculaAmbiente(){
        calcular(63,78,document.getElementById('id_c10'));
        calcular(63,69,document.getElementById('id_c10_i'));
        calcular(70,72,document.getElementById('id_c10_r'));
        calcular(73,78,document.getElementById('id_c10_e'));
    }

    function calcularMulti(){
        if (respostas[0] == null){
            encheVetor();
        }
        if (parseInt(document.getElementById("id_p05_age").value) > 75) {
            respostas[92].value = 'S';
        } else {
            respostas[92].value = 'N';
        }
        if (document.getElementById("id_p06_gender").value == 'F') {
            respostas[93].value = 'S';
        } else {
            respostas[93].value = 'N';
        }
        if (parseInt(document.getElementById("id_c5").value) < 4) {
            respostas[95].value = 'S';
         }else{
            respostas[95].value = 'N';
        }
        respostas[96].value = respostas[15].value
        if (respostas[38].value == 'N'){
            respostas[99].value = 'S';
        }else{
            respostas[99].value = 'N';
        }
        if (respostas[3].value == 'N'){
            respostas[94].value = 'S';
        }else{
            respostas[94].value = 'N';
        }
        respostas[100].value = document.getElementById("id_q42_diseases_last_5_years_c").value

        calcular(87,102,document.getElementById('id_c12'))
    }
  </script>

</head>

<body>
  {% if request.user.is_authenticated %}
  {% load static %}
  <form action="{% url 'grava_page' %}" method="post">
  {% csrf_token %}
  <table border="2" width='100%'>

    <tr>
      <td rowspan="3" width='16%'> <img src='/static/page.jpg'    height="100px" width="100px"> </td>
      <td colspan="2" >{{ page.service.label_tag }} {{page.service}}</td>
    </tr>
    <tr>
      <td  width='42%'>{{ page.entrance.label_tag }} {{page.entrance}}</td>
      <td  width='42%'>{{ page.interviewed.label_tag }} {{page.interviewed}}</td>
    </tr>
    <tr>
      <td>{{ page.interviewer.label_tag }} {{page.interviewer}}</td>
      <td>{{ page.avaliation_date.label_tag }} {{page.avaliation_date}}</td>
    </tr>

  </table>
  <br>the


    <div class="TabControl">
      <div id="header">
        <ul class="abas">
          <li>
            <div class="aba" style="background-color:silver">
              <span>PARTICIPANTE</span>
            </div>
          </li>
          <li>
            <div class="aba" style="background-color:#0099FF">
              <span>RELACIONADOS A ASPECTOS PSICOLÓGICOS</span>
            </div>
          </li>
          <li>
            <div class="aba" style="background-color:#33CC99">
              <span>RELACIONADOS A ASPECTOS BIOLÓGICOS</span>
            </div>
          </li>
          <li>
            <div class="aba" style="background-color:#FFFF00">
              <span>RELACIONADOS A ASPECTOS SOCIAIS</span>
            </div>
          </li>
          <li>
            <div class="aba" style="background-color:#FF22FF">
              <span>DOMÍNIO MULTIDIMENSIONAL</span>
            </div>
          </li>
        </ul>
      </div>

      <div id="content">

        <div class="conteudo" style="overflow: auto;background-color:#FFFFFF"> <!--PARTICIPANTE !-->
          <table border="2" width="100%">
              <tr>
                  <td  bgcolor="silver" align="center"><h2>PARTICIPANTE</h2></td>
              </tr>
              {% for field in participant %}
                <tr>
                   <TD width="100%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                </tr>
              {% endfor %}
              {% for field in participant_situation %}
                 <tr>
                    <TD width="100%" valign="middle">{{ field.label_tag }}  {{field}}
                    {% if field == participant_situation.p20_IMC %}
                        <input type="button" value="Calc" onclick="calculaIMC()">
                    {% endif %}
                    </TD>
                 </tr>
              {% endfor %}
          </table>
        </div> <!--PARTICIPANTE !-->




        <div class="conteudo" style="overflow: auto;background-color:#FFFFFF"> <!--PSICOLÓGICOS !-->

            <table border="2" width="100%">
                <tr>
                    <td colspan="3" bgcolor="#0099FF" align="center"><h2>RELACIONADOS A ASPECTOS PSICOLÓGICOS</h2></td>
                </tr>
                {% for field in cognition %}
                     {% if field != cognition.max_score_cognition %}
                        {% if field != cognition.need_investigation_cognition %}
                            <tr>
                            {% if field == cognition.q1_memory_good_like_before %}
                                <td class="example Text3" WIDTH="10%" align="center" rowspan="11" BGCOLOR="#3399CC">
                                    <span><B>DÉFICIT<br>COGNITIVO</B></span></td>
                            {% endif %}
                            <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                            {% if field == cognition.q1_memory_good_like_before %}
                                <td WIDTH="10%" align="center" rowspan="11" BGCOLOR="#3399CC">
                                    <B>Pontuação Máxima(6)<br>
                                       <input type="text" name="c1" ID="id_c1" size="2" readonly><input type="button" value="Calc" onclick="calcular(1,6,document.getElementById('id_c1'))"> <br>
                                    {{ cognition.need_investigation_cognition.label_tag }} <br>
                                    {{ cognition.need_investigation_cognition }}  </B>
  
  
                                </td>
                            {% endif %}
                            </tr>
                        {% endif %}
                     {% endif %}
                {% endfor %}
  
                 <TR><TD COLSPAN="3" BGCOLOR="#0099FF"></TD> </TR>
  
                {% for field in negative %}
                    {% if field != negative.max_score_negative %}
                        {% if field != negative.need_investigation_negative %}
                            <tr>
                            {% if field == negative.q7_age_self_perception %}
                                <td class="example Text3" WIDTH="10%" align="center" rowspan="6" BGCOLOR="#3399CC">
                                    <span><B>ATITUDES
                                    NEGATIVAS EM RELAÇÃO AO<br>PROCESSO DE ENVELHECIMENTO</B></span></td>
                            {% endif %}
                            <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                            {% if field == negative.q7_age_self_perception %}
                                <td WIDTH="10%" align="center" rowspan="6" BGCOLOR="#3399CC">
                                    <span><B>
                                    Pontuação Máxima(2)<br>
                                    <input type="text" name="c2" ID="id_c2" size="2" readonly><input type="button" value="Calc" onclick="calcular(7,8,document.getElementById('id_c2'))"> <br>
                                    {{ negative.need_investigation_negative.label_tag }}<br>
                                    {{ negative.need_investigation_negative }}  </B></span></td>
                            {% endif %}
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
  
                 <TR><TD COLSPAN="3" BGCOLOR="#0099FF"></TD> </TR>
  
                {% for field in depression %}
                    {% if field != depression.max_score_depression %}
                        {% if field != depression.need_investigation_depression %}
                            <tr>
                            {% if field == depression.q9_satisfied_with_life %}
                                <td class="example Text3" WIDTH="10%" align="center" rowspan="6" BGCOLOR="#3399CC">
                                    <span><B>DEPRESSÃO</B></span></td>
                            {% endif %}
                            <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                            {% if field == depression.q9_satisfied_with_life %}
                                <td WIDTH="10%" align="center" rowspan="6" BGCOLOR="#3399CC">
                                    <span><B>
                                    Pontuação Máxima(6)<br>
                                    <input type="text" name="c3" ID="id_c3" size="2" readonly><input type="button" value="Calc" onclick="calcular(9,14,document.getElementById('id_c3'))"> <br>
                                    {{ depression.need_investigation_depression.label_tag }}<br>
                                    {{ depression.need_investigation_depression }}  </B></span></td>
                            {% endif %}
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <tr>  <td colspan="3" width="100%" BGCOLOR="#0099FF" ALIGN="CENTER"><B> OBSERVAÇÕES SOBRE O BLOCO PSICOLÓGICO </B> </td></tr>
                <tr>  <td colspan="3" width="100%">  {{ psychological.comments_psico }}  </td> </tr>
                 <TR><TD COLSPAN="3" BGCOLOR="#0099FF"></TD> </TR>
            </table>
  
          </div> <!--PSICOLÓGICOS !-->

        <div class="conteudo" style="overflow: auto;background-color:#FFFFFF"> <!--BIOLÓGICOS !-->
            <table border="2" width="100%">
            <tr>
                <td colspan="3" bgcolor="#33CC99" align="center"><h2>RELACIONADOS A ASPECTOS BIOLÓGICOS</h2></td>
            </tr>

            {% for field in sensory %}
                {% if field != sensory.max_score_sensory %}
                    {% if field != sensory.need_investigation_sensory %}
                        <tr>
                        {% if field == sensory.q15_vision_problems %}
                            <td class="example Text3" WIDTH="10%" align="center" rowspan="5" BGCOLOR="#339999">
                                <span><B>DÉFICIT<BR>SENSORIAL</B></span></td>
                        {% endif %}
                        <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                        {% if field == sensory.q15_vision_problems %}
                            <td WIDTH="10%" align="center" rowspan="5" BGCOLOR="#339999">
                                <span><B>
                                Pontuação Máxima(5)<br>
                                <input type="text" name="c4" ID="id_c4" size="2" readonly><input type="button" value="Calc" onclick="calcular(15,19,document.getElementById('id_c4'))"> <br>
                                {{ sensory.need_investigation_sensory.label_tag }}<br>
                                {{ sensory.need_investigation_sensory }}  </B></span></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}

             <TR><TD COLSPAN="3" BGCOLOR="#33CC99"></TD> </TR>

            {% for field in functional %}
                {% if field != functional.max_score_functional %}
                    {% if field != functional.need_investigation_functional %}
                        <tr>
                        {% if field == functional.q20_to_shop %}
                            <td class="example Text3" WIDTH="10%" align="center" rowspan="6" BGCOLOR="#339999">
                                <span><B>INCAPACIDADE<BR>FUNCIONAL</B></span></td>
                        {% endif %}
                        <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                        {% if field == functional.q20_to_shop %}
                            <td WIDTH="10%" align="center" rowspan="6" BGCOLOR="#339999">
                                <span><B>
                                Pontuação Máxima(6)<br>
                                <input type="text" name="c5" ID="id_c5" size="2" readonly><input type="button" value="Calc" onclick="calcular(20,25,document.getElementById('id_c5'))"> <br>
                                {{ functional.need_investigation_functional.label_tag }}<br>
                                {{ functional.need_investigation_functional }}  </B></span></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <TR><TD COLSPAN="3" BGCOLOR="#33CC99"></TD> </TR>

             {% for field in malnutrition %}
                {% if field !=  malnutrition.max_score_malnutrition %}
                    {% if field != malnutrition.need_investigation_malnutrition %}
                        <tr>
                        {% if field == malnutrition.d26_yourself_malnourished %}
                            <td class="example Text3" WIDTH="10%" align="center" rowspan="7" BGCOLOR="#339999">
                                <span><B>DESNUTRIÇÃO</B></span></td>
                        {% endif %}
                        <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                        {% if field == malnutrition.d26_yourself_malnourished %}
                            <td  WIDTH="10%" align="center" rowspan="7" BGCOLOR="#339999">
                                <span><B>
                                Pontuação Máxima(7)<br>
                                <input type="text" name="c6" ID="id_c6" size="2" readonly><input type="button" value="Calc" onclick="calcular(26,32,document.getElementById('id_c6'))"> <br>
                                {{ malnutrition.need_investigation_malnutrition.label_tag }}<br>
                                {{ malnutrition.need_investigation_malnutrition }}  </B></span></td>
                        {% endif %}
                      </tr>
                   {% endif %}
                {% endif %}
             {% endfor %}

             <TR><TD COLSPAN="3" BGCOLOR="#33CC99"></TD> </TR>

            {% for field in cardiovascular %}
                {% if field != cardiovascular.max_score_cardio %}
                    {% if field != cardiovascular.need_investigation_cardio %}
                        <tr>
                        {% if field == cardiovascular.q33_dcv_familiar_history %}
                            <td class="example Text3" WIDTH="10%" align="center" rowspan="13" BGCOLOR="#339999">
                                <span><B>DOENÇAS CARDIOVASCULARES (DCV)</B></span></td>
                        {% endif %}
                        <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                        {% if field == cardiovascular.q33_dcv_familiar_history %}
                            <td WIDTH="10%" align="center" rowspan="13" BGCOLOR="#339999">
                                <span><B>
                                Pontuação Máxima(9)<br>
                                <input type="text" name="c7" ID="id_c7" size="2" readonly><input type="button" value="Calc" onclick="calcular(33,41,document.getElementById('id_c7'))"> <br>
                                {{ cardiovascular.need_investigation_cardio.label_tag }}<br>
                                {{ cardiovascular.need_investigation_cardio  }}  </B></span></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}

             <TR><TD COLSPAN="3" BGCOLOR="#33CC99"></TD> </TR>


             <tr>
                <td class="example Text3" WIDTH="10%" align="center" rowspan="13" BGCOLOR="#339999">
                <span><B>USO INADEQUADO DE MEDICAMENTOS</B></span></td>
                <TD width="80%" valign="middle"> 42. Nos últimos 5 anos, algum médico ou outro profissional de saúde já disse que o(a)
                                                 senhor(a) tem: <br> {{ misuse42.as_p }}
                </TD>
                <td WIDTH="10%" align="center" rowspan="13" BGCOLOR="#339999">
                                <span><B>
                                Pontuação Máxima(9)<br>
                                <input type="text" name="c8" ID="id_c8" size="2" readonly><input type="button" value="Calc" onclick="calcular(46,53,document.getElementById('id_c8'))"> <br>
                                {{ misuse.need_investigation_misuse.label_tag }}<br>
                                {{ misuse.need_investigation_misuse }}  </B></span>
                </td>
             </tr>
            <tr><td> 43. O(A) senhor(a) tem algum dos seguintes problemas de saúde: <br> {{ misuse43.as_p }} </td></tr>
            {% for field in misuse %}
                {% if field != misuse.max_score_misuse %}
                    {% if field != misuse.need_investigation_misuse %}
                        <tr>
                            <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <tr>
                <td align="center">
                    <table border="1">
                        <tr>
                            <td bgcolor="silver" align="center" rowspan="2">No. Diagnósticos</td>
                            <td bgcolor="silver" colspan="2" align="center"> Uso de medicamento inapropriado </td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="silver">sim</td>
                            <td align="center" bgcolor="silver">Não</td>
                        </tr>
                        <tr>0
                            <td align="center" bgcolor="silver">1</td>
                            <td align="center">9</td>
                            <td align="center">18</td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="silver">2</td>
                            <td align="center">6</td>
                            <td align="center">15</td>
                        <tr>
                            <td align="center" bgcolor="silver">3</td>
                            <td align="center">2</td>
                            <td align="center">11</td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="silver">4</td>
                            <td align="center">0</td>
                            <td align="center">7</td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="silver">5</td>
                            <td align="center">0</td>
                            <td align="center">4</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>  <td colspan="3" width="100%" BGCOLOR="#33CC99" ALIGN="CENTER"><B> OBSERVAÇÕES SOBRE O BLOCO BIOLÓGICO </B> </td></tr>
            <tr>  <td colspan="3" width="100%">  {{ biological.comments_bio }}  </td> </tr>
             <TR><TD COLSPAN="3" BGCOLOR="#33cc99"> </TD> </TR>
        </table>
        </div> <!--BIOLÓGICOS !-->

        <div class="conteudo" style="overflow: auto;background-color:#FFFFFF"> <!-- SOCIAIS !-->
          <table border="2" width="100%">
              <tr>
                  <td colspan="3" bgcolor="#FFFF99" align="center"><h2>RELACIONADOS A ASPECTOS SOCIAIS</h2></td>
              </tr>

              {% for field in low_social %}
                   {% if field != low_social.max_score_low %}
                      {% if field != low_social.need_investigation_low %}
                          <tr>
                          {% if field == low_social.q54_spouse %}
                              <td class="example Text3" WIDTH="10%" align="center" rowspan="14" BGCOLOR="#FFFFCC">
                                  <span><B>BAIXO SUPORTE<BR>SOCIAL</B></span></td>
                          {% endif %}
                          <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                          {% if field == low_social.q54_spouse %}
                              <td  WIDTH="10%" align="center" rowspan="14" BGCOLOR="#FFFFCC">
                                  <span><B>Pontuação Máxima(8)<br>
                                  <input type="text" name="c9" ID="id_c9" size="2" readonly><input type="button" value="Calc" onclick="calcular(55,62,document.getElementById('id_c9'))"> <br>
                                  {{ low_social.need_investigation_low.label_tag }}<br>
                                  {{ low_social.need_investigation_low }}  </B></span></td>
                          {% endif %}
                          </tr>
                      {% endif %}
                   {% endif %}
              {% endfor %}

               <TR><TD COLSPAN="3" BGCOLOR="#FFFF99"> </TD> </TR>

              {% for field in environmental %}
                  {% if field != environmental.max_score_env %}
                      {% if field != environmental.need_investigation_env %}
                          <tr>
                          {% if field == environmental.q63_estable_furniture %}
                              <td class="example Text3" WIDTH="10%" align="center" rowspan="19" BGCOLOR="#FFFFCC">
                                  <span><B>PROBLEMAS AMBIENTAIS </B></span></td>
                              <td align="center" width="80%" bgcolor="CCCCC"><B>Ambiente Interno </B><input type="text" name="c10_i" ID="id_c10_i" size="2" readonly> </td>
                              <td WIDTH0="10%" align="center" rowspan="19" BGCOLOR="#FFFFCC">
                                  <span><B>
                                  Pontuação Máxima(16)<br>
                                  <input type="text" name="c10" ID="id_c10" size="2" readonly><br><input type="button" value="Calc" onclick="calculaAmbiente()"> <br>
                                  {{ environmental.need_investigation_env.label_tag }}<br>
                                  {{ environmental.need_investigation_env }}  </B> </span><br><br>
                              </td></tr><tr>
                          {% endif %}
                          {% if field == environmental.q70_get_on_stool %}
                              <td align="center" width="80%" bgcolor="CCCCC"><B>Comportamento de Risco </B><input type="text" name="c10_r" ID="id_c10_r" size="2" readonly> </td></tr><tr>
                          {% endif %}
                          {% if field == environmental.q73_manicure_sidewalks %}
                              <td align="center" width="80%" bgcolor="CCCCC"><B>Ambiente Externo </B><input type="text" name="c10_e" ID="id_c10_e" size="2" readonly> </td></tr><tr>
                          {% endif %}
                          <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                          </tr>
                      {% endif %}
                  {% endif %}
              {% endfor %}

               <TR><TD COLSPAN="3" BGCOLOR="#FFFF99"> </TD> </TR>

              {% for field in violence %}
                  {% if field != violence.max_score_violence %}
                      {% if field != violence.need_investigation_violence %}
                          <tr>
                          {% if field == violence.q79_afraid_close_person %}
                              <td class="example Text3" WIDTH="10%" align="center" rowspan="8" BGCOLOR="#FFFFCC">
                                  <span><B>VIOLÊNCIA</B></span></td>
                          {% endif %}
                          <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                          {% if field == violence.q79_afraid_close_person %}
                              <td WIDTH="10%" align="center" rowspan="8" BGCOLOR="#FFFFCC">
                                  <span><B>
                                  Pontuação Máxima(8)<br>
                                  <input type="text" name="c11" ID="id_c11" size="2" readonly><input type="button" value="Calc" onclick="calcular(79,86,document.getElementById('id_c11'))"> <br>
                                  {{ violence.need_investigation_violence.label_tag }}<br>
                                  {{ violence.need_investigation_violence }}  </B></span></td>
                          {% endif %}
                          </tr>
                      {% endif %}
                  {% endif %}
              {% endfor %}
              <tr>  <td colspan="3" width="100%" BGCOLOR="#FFFF99" ALIGN="CENTER"><B> OBSERVAÇÕES SOBRE O BLOCO SOCIAL </B> </td></tr>
              <tr>  <td colspan="3" width="100%">  {{ social.comments_social }}  </td> </tr>
               <TR><TD COLSPAN="3" BGCOLOR="#FFFF99"> </TD></TR>
          </table>
        </div> <!--SOCIAIS !-->

        <div class="conteudo" style="overflow: auto;background-color:#FFFFFF"> <!--MULTIDIMENSIONAL !-->
          <table border="2" width="100%">
              <tr>overflow: auto;
                  <td colspan="3" bgcolor="#FF22FF" align="center"><h2>DOMÍNIO MULTIDIMENSIONAL</h2></td>
              </tr>

              {% for field in falls %}
                   {% if field != falls.max_score_falls %}
                      {% if field != falls.need_investigation_falls %}
                          <tr>
                          {% if field == falls.q87_falls_last_year %}
                              <td class="example Text3" WIDTH="10%" align="center" rowspan="19" BGCOLOR="#FFBBFF">
                                  <span><B>QUEDAS</B></span></td>
                          {% endif %}

                          {% if field == falls.q92_older_than75 %}
                              <td WIDTH="80%" align="center">
                                  <span><B>Baseado nas respostas de itens anteriores, identifique se o idoso apresenta/utiliza
                                  </B></span></td></tr><tr>
                          {% endif %}
                          <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                          {% if field == falls.q87_falls_last_year %}
                              <td WIDTH="10%" align="center" rowspan="19" BGCOLOR="#FFBBFF">
                                  <span><B>Pontuação Máxima(16)<br>
                                  <input type="text" name="c12" ID="id_c12" size="2" readonly><input type="button" value="Calc" onclick="calcularMulti()"> <br>
                                  {{ falls.need_investigation_falls.label_tag }}<br>
                                  {{ falls.need_investigation_falls }}  </B></span></td>
                          {% endif %}
                          </tr>
                      {% endif %}
                   {% endif %}
              {% endfor %}

              <tr>  <td colspan="3" width="100%" BGCOLOR="#FF22FF" ALIGN="CENTER"><B> OBSERVAÇÕES SOBRE O BLOCO MULTIDIMENSIONAL </B> </td></tr>
              <tr>  <td colspan="3" width="100%">  {{ multidisciplinary.comments_multi }}  </td> </tr>
              <TR><TD COLSPAN="3" BGCOLOR="#FF99FF"> </TD></TR>
          </table>
        </div> <!--MULTIDIMENSIONAL !-->

      </div>
    </div>
    <br>
    <center>  <input type="submit" value="Gravar" onclick="return tudoCerto()"> </center>
  </form>
  {% else %}
  <h1>Fudeu !!!!!!!</h1>

  {% endif %}

</body>
</html>
