<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .example.Text3 span, .example.Text3 {
          writing-mode: vertical-rl;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: vertical-rl;
        }
    </style>

</head>
  {% if request.user.is_authenticated %}
<body leftmargin="20%" rightmargin="20%">
<center><h1>PAGE</h1></center>


<h1 align="center">AVALIAÇÃO DE RISCO DE VULNERABILIDADE BIOPSICOSSOCIAL EM IDOSOS</h1>
<table border="2" width="100%">
    <tr>
        <td colspan="3" bgcolor="#0099FF" align="center"><h2>RELACIONADOS A ASPECTOS PSICOLÓGICOS</h2></td>
    </tr>

    {% for field in cognition %}
         {% if field != cognition.max_score %}
            {% if field != cognition.need_investigation %}
                <tr>
                {% if field == cognition.q1_memory_good_like_before %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="7" BGCOLOR="#3399CC">
                        <span><B>DÉFICIT<br>COGNITIVO</B></span></td>
                {% endif %}
                <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                {% if field == cognition.q1_memory_good_like_before %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="7" BGCOLOR="#3399CC">
                        <span><B>Pontuação Máxima( 6 ):<br> {{ cognition.need_investigation.label_tag }}
                        {{ cognition.need_investigation }}  </B></span></td>
                {% endif %}
                </tr>
            {% endif %}
         {% endif %}
    {% endfor %}

     <TR><TD COLSPAN="3" BGCOLOR="#0099FF"></TD> </TR>

    {% for field in negative %}
        {% if field != negative.max_score %}
            {% if field != negative.need_investigation %}
                <tr>
                {% if field == negative.q7_age_self_perception %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="6" BGCOLOR="#3399CC">
                        <span><B>ATITUDES
                        NEGATIVAS EM RELAÇÃO AO<br>PROCESSO DE ENVELHECIMENTO</B></span></td>
                {% endif %}
                <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                {% if field == negative.q7_age_self_perception %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="6" BGCOLOR="#3399CC">
                        <span><B>
                        Pontuação Máxima( 2 ):<br> {{ negative.need_investigation.label_tag }} {{ negative.need_investigation }}  </B></span></td>
                {% endif %}
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}

     <TR><TD COLSPAN="3" BGCOLOR="#0099FF"></TD> </TR>

    {% for field in depression %}
        {% if field != depression.max_score %}
            {% if field != depression.need_investigation %}
                <tr>
                {% if field == depression.q9_satisfied_with_life %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="6" BGCOLOR="#3399CC">
                        <span><B>DEPRESSÃO</B></span></td>
                {% endif %}
                <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                {% if field == depression.q9_satisfied_with_life %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="6" BGCOLOR="#3399CC">
                        <span><B>
                        Pontuação Máxima( 6 ):<br> {{ depression.need_investigation.label_tag }}
                        {{ depression.need_investigation }}  </B></span></td>
                {% endif %}
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    <tr>  <td colspan="3" width="100%" BGCOLOR="#0099FF" ALIGN="CENTER"><B> OBSERVAÇÕES SOBRE O BLOCO PSICOLÓGICO </B> </td></tr>
    <tr>  <td colspan="3" width="100%">  {{ psychological.comments }}  </td> </tr>
     <TR><TD COLSPAN="3" BGCOLOR="#0099FF"></TD> </TR>
</table>
<br><br>

</table>
    <table border="2" width="100%">
    <tr>
        <td colspan="3" bgcolor="#33CC99" align="center"><h2>RELACIONADOS A ASPECTOS BIOLÓGICOS</h2></td>
    </tr>

    {% for field in sensory %}
        {% if field != sensory.max_score %}
            {% if field != sensory.need_investigation %}
                <tr>
                {% if field == sensory.q15_vision_problems %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="5" BGCOLOR="#339999">
                        <span><B>DÉFICIT<BR>SENSORIAL</B></span></td>
                {% endif %}
                <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                {% if field == sensory.q15_vision_problems %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="5" BGCOLOR="#339999">
                        <span><B>
                        Pontuação Máxima( 5 ):<br> {{ sensory.need_investigation.label_tag }}
                        {{ sensory.need_investigation }}  </B></span></td>
                {% endif %}
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}

     <TR><TD COLSPAN="3" BGCOLOR="#33CC99"></TD> </TR>

    {% for field in functional %}
        {% if field != functional.max_score %}
            {% if field != functional.need_investigation %}
                <tr>
                {% if field == functional.q20_to_shop %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="6" BGCOLOR="#339999">
                        <span><B>INCAPACIDADE<BR>FUNCIONAL</B></span></td>
                {% endif %}
                <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                {% if field == functional.q20_to_shop %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="6" BGCOLOR="#339999">
                        <span><B>
                        Pontuação Máxima( 6 ):<br> {{ functional.need_investigation.label_tag }}
                        {{ functional.need_investigation }}  </B></span></td>
                {% endif %}
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}

     <TR><TD COLSPAN="3" BGCOLOR="#33CC99"></TD> </TR>

    {% for field in malnutrition %}
        {% if field != malnutrition.max_score %}
            {% if field != malnutrition.need_investigation %}
                <tr>
                {% if field == malnutrition.d26_yourself_malnourished %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="7" BGCOLOR="#339999">
                        <span><B>DESNUTRIÇÃO</B></span></td>
                {% endif %}
                <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                {% if field == malnutrition.d26_yourself_malnourished %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="7" BGCOLOR="#339999">
                        <span><B>
                        Pontuação Máxima( 7 ):<br> {{ malnutrition.need_investigation.label_tag }}
                        {{ malnutrition.need_investigation }}  </B></span></td>
                {% endif %}
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}

     <TR><TD COLSPAN="3" BGCOLOR="#33CC99"></TD> </TR>
     <tr>
        <td class="example Text3" WIDTH="10%" align="center" rowspan="13" BGCOLOR="#339999">
        <span><B>DOENÇAS CARDIOVASCULARES (DCV)</B></span></td>
        <TD width="80%" valign="middle"> 42. Nos últimos 5 anos, algum médico ou outro profissional de saúde já disse que o(a)
                                         senhor(a) tem: <br> {{ misuse42.as_p }}
        </TD>
        <td class="example Text3" WIDTH="10%" align="center" rowspan="13" BGCOLOR="#339999">
                        <span><B>
                        Pontuação Máxima( 9 ):<br> {{ misuse.need_investigation.label_tag }}
                        {{ misuse.need_investigation }}  </B></span>
        </td>
     </tr>
    <tr><td> 43. O(A) senhor(a) tem algum dos seguintes problemas de saúde: <br> {{ misuse43.as_p }} </td></tr>
    {% for field in misuse %}
        {% if field != misuse.max_score %}
            {% if field != misuse.need_investigation %}
                <tr>
                    <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    <tr>
        <td align="center">
            <table border="1">
                <tr>
                    <td bgcolor="silver" align="center" rowspan="2">No. Diagnósticos</td>
                    <td bgcolor="silver" colspan="2" align="center"> Uso de medicamento inapropriado </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="silver">sim</td>
                    <td align="center" bgcolor="silver">Não</td>
                </tr>
                <tr>
                    <td align="center" bgcolor="silver">1</td>
                    <td align="center">9</td>
                    <td align="center">18</td>
                </tr>
                <tr>
                    <td align="center" bgcolor="silver">2</td>
                    <td align="center">6</td>
                    <td align="center">15</td>
                <tr>
                    <td align="center" bgcolor="silver">3</td>
                    <td align="center">2</td>
                    <td align="center">11</td>
                </tr>
                <tr>
                    <td align="center" bgcolor="silver">4</td>
                    <td align="center">0</td>
                    <td align="center">7</td>
                </tr>
                <tr>
                    <td align="center" bgcolor="silver">5</td>
                    <td align="center">0</td>
                    <td align="center">4</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>  <td colspan="3" width="100%" BGCOLOR="#33CC99" ALIGN="CENTER"><B> OBSERVAÇÕES SOBRE O BLOCO BIOLÓGICO </B> </td></tr>
    <tr>  <td colspan="3" width="100%">  {{ biological.comments }}  </td> </tr>
     <TR><TD COLSPAN="3" BGCOLOR="#33cc99"> </TD> </TR>
</table>
<br><br>


<table border="2" width="100%">
    <tr>
        <td colspan="3" bgcolor="#FFFF99" align="center"><h2>RELACIONADOS A ASPECTOS SOCIAIS</h2></td>
    </tr>

    {% for field in low_social %}
         {% if field != low_social.max_score %}
            {% if field != low_social.need_investigation %}
                <tr>
                {% if field == low_social.q54_spouse %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="14" BGCOLOR="#FFFFCC">
                        <span><B>BAIXO SUPORTE<BR>SOCIAL</B></span></td>
                {% endif %}
                <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                {% if field == low_social.q54_spouse %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="14" BGCOLOR="#FFFFCC">
                        <span><B>Pontuação Máxima( 8 ):<br> {{ low_social.need_investigation.label_tag }}
                        {{ low_social.need_investigation }}  </B></span></td>
                {% endif %}
                </tr>
            {% endif %}
         {% endif %}
    {% endfor %}

     <TR><TD COLSPAN="3" BGCOLOR="#FFFF99"> </TD> </TR>

    {% for field in environmental %}
        {% if field != environmental.max_score %}
            {% if field != environmental.need_investigation %}
                <tr>
                {% if field == environmental.q63_estable_furniture %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="19" BGCOLOR="#FFFFCC">
                        <span><B>PROBLEMAS AMBIENTAIS </B></span></td>
                    <td align="center" width="80%" bgcolor="CCCCC"><B>Ambiente Interno</B> </td>
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="19" BGCOLOR="#FFFFCC">
                        <span><B>
                        Pontuação Máxima( 16 ):<br> {{ environmental.need_investigation.label_tag }}
                            {{ environmental.need_investigation }}  </B></span></td></tr><tr>
                {% endif %}
                {% if field == environmental.q70_get_on_stool %}
                    <td align="center" width="80%" bgcolor="CCCCC"><B>Comportamento de Risco</B> </td></tr><tr>
                {% endif %}
                {% if field == environmental.q73_manicure_sidewalks %}
                    <td align="center" width="80%" bgcolor="CCCCC"><B>Ambiente Externo</B> </td></tr><tr>
                {% endif %}
                <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}

     <TR><TD COLSPAN="3" BGCOLOR="#FFFF99"> </TD> </TR>

    {% for field in violence %}
        {% if field != violence.max_score %}
            {% if field != violence.need_investigation %}
                <tr>
                {% if field == violence.q79_afraid_close_person %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="8" BGCOLOR="#FFFFCC">
                        <span><B>VIOLÊNCIA</B></span></td>
                {% endif %}
                <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                {% if field == violence.q79_afraid_close_person %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="8" BGCOLOR="#FFFFCC">
                        <span><B>
                        Pontuação Máxima( 8 ):<br> {{ violence.need_investigation.label_tag }}
                        {{ violence.need_investigation }}  </B></span></td>
                {% endif %}
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    <tr>  <td colspan="3" width="100%" BGCOLOR="#FFFF99" ALIGN="CENTER"><B> OBSERVAÇÕES SOBRE O BLOCO SOCIAL </B> </td></tr>
    <tr>  <td colspan="3" width="100%">  {{ social.comments }}  </td> </tr>
     <TR><TD COLSPAN="3" BGCOLOR="#FFFF99"> </TD></TR>
</table>
<br><br>

<table border="2" width="100%">
    <tr>
        <td colspan="3" bgcolor="#FF22FF" align="center"><h2>DOMÍNIO MULTIDIMENSIONAL</h2></td>
    </tr>

    {% for field in falls %}
         {% if field != falls.max_score %}
            {% if field != falls.need_investigation %}
                <tr>
                {% if field == falls.q87_falls_last_year %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="19" BGCOLOR="#FFBBFF">
                        <span><B>QUEDAS</B></span></td>
                {% endif %}

                {% if field == falls.q92_older_than75 %}
                    <td WIDTH="80%" align="center">
                        <span><B>Baseado nas respostas de itens anteriores, identifique se o idoso apresenta/utiliza
                        </B></span></td></tr><tr>
                {% endif %}
                <TD width="80%" valign="middle">{{ field.label_tag }}  {{field}}</TD>
                {% if field == falls.q87_falls_last_year %}
                    <td class="example Text3" WIDTH="10%" align="center" rowspan="19" BGCOLOR="#FFBBFF">
                        <span><B>Pontuação Máxima( 8 ):<br> {{ falls.need_investigation.label_tag }}
                            {{ falls.need_investigation }}  </B></span></td>
                {% endif %}
                </tr>
            {% endif %}
         {% endif %}
    {% endfor %}

    <tr>  <td colspan="3" width="100%" BGCOLOR="#FF22FF" ALIGN="CENTER"><B> OBSERVAÇÕES SOBRE O BLOCO MULTIDIMENSIONAL </B> </td></tr>
    <tr>  <td colspan="3" width="100%">  {{ multidisciplinary.comments }}  </td> </tr>
    <TR><TD COLSPAN="3" BGCOLOR="#FF99FF"> </TD></TR>
</table>
  {% else %}
  <h1>Fudeu !!!!!!!</h1>

  {% endif %}

</body>
</html>
